<footer class="page-footer">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <p class="grey-text text-lighten-4">Neem <a class="modal-trigger white-text" href="#modal1"><u>contact</u></a> op en ontdek de mogelijkheden voor uw onderneming.</p>
       </div>
       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Links</h5>
           <a class="waves-effect waves-light btn-floating social facebook"><i class="fa fa-facebook"></i>Facebook</a>
           <a class="waves-effect waves-light btn-floating social linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
           <a class="waves-effect waves-light btn-floating social twitter"><i class="fa fa-twitter"></i>Twitter</a>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     © 2018, site door <a class="white-text" href="https://www.linkedin.com/in/marijn-stapert-05091182/" target="_blank">Marijn Stapert</a>
     </div>
   </div>
</footer>
