	/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply
	dark:bg-neutral-900
	dark:text-gray-100
	transition;	
}

input[type="text"], textarea {
	@apply
	bg-transparent;
}

.topbar {
	@apply
	fixed w-screen top-0
	border-b
	border-gray-400 
	dark:border-neutral-700
	h-20 px-6
	flex flex-col;
}

.sidebar {
	@apply
	fixed h-screen left-0 top-0
	border-r border-gray-400 dark:border-neutral-700
	w-48 mt-20 mr-6;
}

.main {
	@apply mt-20 ml-48;
}
