$main-font-family: unquote("'Source Sans Pro', arial, sans-serif");

$size-micro: 0.4rem;
$size-small: 0.8rem;
$size-medium: 1.6rem;
$size-large: 3.2rem;

$color-primary: #0094c6;

$color-light-grey: #fbfbfb;
$color-dark-grey: #565554;
