{% extends 'includes/layout.html' %}
{% block body %}
<!-- Contact -->


{% include 'home/about_banner.html' %}

{% include 'home/about.html' %}

{% include 'home/products_parallax.html' %}

{% include 'home/products.html' %}

{% include 'home/products_carousel_parallax.html' %}

{% include 'home/products_carousel.html' %}

{% include 'home/partners_parallax.html' %}

{% include 'home/partners.html' %}

{% include 'home/contact_form.html' %}

<script type="text/javascript" src="static/js/js.js"></script>

{% endblock %}
