body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: blueviolet;
}

canvas {
    border: 1px solid black;
    width: 800px;
    height: 600px;
}
