:host {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 800px;
  margin: 30px auto;
}

.todo-item {
  display: flex;
  align-items: center;
}

.delete-todo {
  margin-right: 10px;
  cursor: pointer;
}
