<div id="about" class="container">

  <h2 class="header center-align">Wie zijn wij?</h2>

  <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center red-text"><i class="material-icons">live_help</i></h2>
              <h5 class="center">Wat? RELATIEGESCHENKEN!</h5>

              <p class="light">
                U produceert, verhuist, herinricht of verbouwt
                met uw onderneming? Dan is de kans groot
                dat hierbij bruikbaar materiaal in de container
                verdwijnt. Van dit materiaal dat u níet meer
                wil, worden relatiegeschenken gemaakt die
                menen wél willen. Elk materiaal is uniek en
                daarom is ook elk product ontworpen door
                CircU uniek.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center red-text"><i class="material-icons">accessibility</i></h2>
              <h5 class="center">Hoe? MENSEN!</h5>

              <p class="light">
              CircU ontwerpt en produceert producten op
              duurzame wijze met behoud van de waarde
              van het materiaal, <b>Upcycling</b> noemen we dat.
              Daarnaast heeft CircU samenwerkingen met
              <b>sociale werkplaatsen</b>, hiermee helpen we
              mensen met een afstand tot de arbeidsmarkt
              weer aan werk.
            </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center red-text"><i class="material-icons">delete</i></h2>
              <h5 class="center">Waarom? VERSPILLING!</h5>

              <p class="light">
                Het team van CircU bestaat uit jonge mensen
                die tegen verspilling zijn. Verspilling is zonde;
                van materiaal, van mensen, de natuur en
                natuurlijk van geld. Bij Circu bedenken we
                oplossingen voor uw ‘afval’-problemen.
                Hierdoor onderneemt u écht <b>duurzaam</b>.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s6">
                  <img src="static/img/about/about.jpg" alt="" class="responsive-img">
                </div>
                <div class="col s6">
                  <span class="black-text">
                  Winnaar duurzaamste student 2017 Hogeschool Utrecht
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

</div>
