<div id="products" class="container">

  <h2 class="header center-align">Showcase</h2>

  <div class="row">

    <div class="carousel">
      <a class="carousel-item" href="#seven!"><img src="static/img/car/C7.jpg" ></a>
      <a class="carousel-item" href="#one!"><img src="static/img/car/C1.jpg" ></a>
      <a class="carousel-item" href="#three!"><img src="static/img/car/C3.jpg" ></a>
      <a class="carousel-item" href="#four!"><img src="static/img/car/C4.jpg" ></a>
      <a class="carousel-item" href="#five!"><img src="static/img/car/C5.jpg" ></a>
      <a class="carousel-item" href="#six!"><img src="static/img/car/C6.jpg" ></a>
      <a class="carousel-item" href="#eight!"><img src="static/img/car/C8.jpg" ></a>
      <a class="carousel-item" href="#nine!"><img src="static/img/car/C9.jpg" ></a>
    </div>

  </div>

</div>
