<div id="products" class="container">

  <h2 class="header center-align">Producten</h2>

  <div class="row">

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="static/img/products/sleeve.jpg">
          <span class="card-title black-text"><b>Sleeves</b> uit autobekleding</span>
        </div>
        <div class="card-content">
          <p>
            PON Nederland importeert auto’s voor tal van merken. Hierbij komt, door de wens van de klant voor
            een specifiek interieur, bekleding vrij dat nog geen bestemming heeft. Bij PON is een zoektocht
            gestart naar een passende oplossing en samen met Move is CircU tot de ontwerpen van Macbook-
            en Ipadsleeves gekomen. Zo kunnen de <b>mooie materialen</b> toch nog lang mee in de vorm van een
            prachtig product.
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="static/img/products/powerbank.jpg">
          <span class="card-title black-text"><b>Powerbanks</b> van pager</span>
        </div>
        <div class="card-content">
          <p>
            De Hogeschool Utrecht heeft voor haar BHV’ers jaren lang een pagersysteem in gebruik gehad voor
            veiligheidssituatie’s. Doordat er gewisseld wordt naar een mobiele applicatie op de smartphone, zijn
            er een groot aantal pagers die geen bestemming meer hebben vrijgekomen. CircU is samen met de
            HU tot het <b>ontwerp</b> van een powerbank in de oude pager gekomen. Op deze manier kunnen BHV’ers
            altijd hun smartphone opladen met hun 'oude' vertrouwde pager.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
